<div class="mat-tab-pt" [formGroup]="profile">
	<div class="fw-half__float">
		<mat-form-field class="col">
			<input matInput placeholder="First Name" formControlName="fname">
		</mat-form-field>

		<mat-form-field class="col">
			<input matInput placeholder="Last Name" formControlName="lname">
		</mat-form-field>
	</div>

	<mat-form-field class="fw-full">
		<input matInput placeholder="Email" formControlName="email">
	</mat-form-field>

	<div class="form-actions">
		<button mat-raised-button class="btn btn-accent">Save</button>
	</div>
</div>
