<div class="mat-tab-pt" [formGroup]="profile">
	<div class="fw-half__float">
		<mat-form-field class="col">
			<input matInput placeholder="First Name" formControlName="first_name">
		</mat-form-field>

		<mat-form-field class="col">
			<input matInput placeholder="Last Name" formControlName="last_name">
		</mat-form-field>
	</div>

	<mat-form-field class="fw-full">
		<input matInput disabled placeholder="Email (Can only be changed in Security tab)" value="{{ user.email }}">
	</mat-form-field>

	<div class="form-actions">
		<button mat-raised-button
				(click)="updateProfile()"
				[disabled]="disallowSave()"
				class="btn btn-accent">
			Save
		</button>
	</div>
</div>
